<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeedzDrive.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeedzDrive.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SeedzDrive.Preferences>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="Secret" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder" serializeAs="String">
                <value />
            </setting>
        </SeedzDrive.Preferences>
    </userSettings>
    <applicationSettings>
        <SeedzDrive.Preferences>
            <setting name="AuthUri" serializeAs="String">
                <value>https://integration-panel-sdz.auth.us-east-1.amazoncognito.com/oauth2/token</value>
            </setting>
            <setting name="DriveAPIUri" serializeAs="String">
                <value>https://atnc86qd85.execute-api.us-east-1.amazonaws.com/dev/upload</value>
            </setting>
        </SeedzDrive.Preferences>
    </applicationSettings>
</configuration>